
@import "../shared/shared.css";

.menu {
  font-family: var(--header-font);
  margin-top: 36px;
  font-size: 24px;
  display: grid;
  text-align: center;
}

.home {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cover {
  max-width: 90%;
}

.old {
  color: #929292;
}
